.hidden {
    opacity: 0;
    backdrop-filter: blur(5px);
    transition: 1.5s ease-in;
  }
  
  .child {
    opacity: 0;
    transform: translateX(-100%);
    transition: 1s ease-in;
  }
  
  .child:nth-child(even) {
      transition-delay: 200ms;
  }
  
  .show {
    opacity: 1;
    backdrop-filter: blur(0);
    transform: translateX(0);
  }
  
  @media (prefers-reduced-motion) {
    .child {
      transition: none;
    }
  }


.borde{
    border:solid var(--c4) 2px ;
}

img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
main .row:nth-child(odd) {
    flex-direction: row-reverse;
}
.foto{
    max-width: 100px;
    & img{width: 100%;}
}
#theme{
    z-index: 2;
    border-top-right-radius: 100%;
    width: 70px;
    height: 70px;
    bottom: 0;
    left: 0;
    position: fixed;
    background-color: var(--c1_1);
    border: 2px solid black;
}
#theme #theme-icon {
    position: absolute;
    bottom: 0;
    left: 15%;
    font-size: 2em;
    color: var(--c1);
}
.fondo{
    background: linear-gradient(var(--c3), var(--c5));
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    
}


.gris{
    background-color: var(--c4);
}
.dark-theme {
    --c1: #ffffff;
    --c1_1: rgb(0, 0, 0);
    --c1_2:#ffffff;
    --c3:rgb(54, 54, 54);
    --c4:rgb(94, 94, 94);
    --c5:rgb(145, 145, 145);
    --c6:rgb(170, 77, 0);
    --c7:rgb(43, 255, 0);
    --c8:rgb(82, 0, 175);
    --c9:rgb(223, 0, 0);
}
.light-theme {
    --c1: #000000;
    --c1_1: #ffffff;
    --c1_2:#000000;
    --c3:rgb(26, 73, 202);
    --c4:rgb(255, 255, 255);
    --c5:rgb(184, 184, 184);
    --c6:rgb(170, 77, 0);
    --c7:rgb(43, 255, 0);
    --c8:rgb(82, 0, 175);
    --c9:rgb(223, 0, 0);
}

@media screen and (max-width: 500px) {
    .fondo{
        height: 100vh;
    }
}

@media(min-width:900) {
    .text3, .text2 {
        font-size: 4.6em;
    } 
}
